@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-hover-bg:before {
  background: rgba(0,0,0, .05);
  border-radius: 40px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(.7) perspective(1px);
  transition: all .2s ease;
  width: 100%
}

.btn-hover-bg:hover:before {
  opacity: 1;
  transform: scale(1) perspective(1px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
